.app {
  text-align: center;
  
}

.city {
  font-size: 36px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature .temperature--current {
  font-size: 72px;
}

.temperature .temperature--min {
  
}

.temperature .temperature--max {
  
}

.wind {

}

.description {

}

.sun {

}

.sun .sun--sunrise {

}

.sun .sun--sunset {

}